*.cpp linguist-language=C++
*.h linguist-language=C++
include/glfw/* linguist-vendored
include/glm/* linguist-vendored
include/spirv-cross/* linguist-vendored
include/stb/* linguist-vendored
include/vulkan-hpp/* linguist-vendored
